Package: com.akeboshi.translyrics
Name: TransLyrics
Version: 0.8.8
Architecture: iphoneos-arm
Description: 可以将Apple Music 的歌词翻译成中文
Maintainer: akeboshi <zengerbaba@gmail.com>
Author: akeboshi <zengerbaba@gmail.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000),preferenceloader
Icon: ./icon.png